{% extends 'layout.html' %}
{% block body %}
<div class="about-us">
	<hr>
	<hr>
    <h1>About Us</h1>
    <hr>
    <p class="lead">You Europeans are members of sam familie. I have separated existentie it is a myth. By scientie, music, sports, etc., Europe uses its vocabulary. The languages ​​differs solemnly in the grammar, they pronounce their words as well. Direct Omnicos to the desirability of a new lingua franca: Where it refuses to continue to pay custodian translators. At solman it was necessary to do uniform grammar, pronunciation and plu sommun paroles.</p>
  </div>
{% endblock %}
